/* Overall Styles */


body {
    margin: 0; /* Remove default body margin */
    font-family: sans-serif; /* Set default font */
    background-color: #f5f5f5; /* Add a light gray background to the body */
}

/* Main Pane Styles */

#mainPane {
    display: flex; /* Make main pane a flex container */
    width: 99.2vw; /* Set full width */
    min-height: 99.2vh;
    background-color: #fff; /* Set white background for the main pane */
    border-top: 0.4vh solid #777; /* Add border to separate panes */
    border-bottom: 0.4vh solid #777;
    border-left: 0.4vw solid #777;
    border-right: 0.4vw solid #777;
}

/* Side Pane Styles */
#leftPane, #rightPane {
    flex: 1; /* Distribute available space equally */
    padding-left: 0.5vw; /* Add padding */
    padding-right: 0.5vw;
    background-color: #eee; /* Set light gray background for left pane */
}
/*sub panes*/
#leftPane > div, #rightPane > div { /* Target all child divs within leftPane  - definition panes aka button groups*/
    background-color: #fcfcfc; /* Lighter gray for definition panes */
    padding-left: 0.5vw; /* Add padding */
    padding-right: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vh;/* Add space to next pane */
    margin-bottom: 1vh;
    border-radius: 0.3vw; /* Add subtle rounded corners */
}
#leftPane > div > div, #rightPane > div > div { /* Target all child divs within leftPane  - definition panes aka button groups*/
    background-color: #eaeaea; /* Lighter gray for definition panes */
    padding-left: 0.5vw; /* Add padding */
    padding-right: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vh;/* Add space to next pane */
    margin-bottom: 1vh;
    border-radius: 0.3vw; /* Add subtle rounded corners */
}
#dropZone {
    background-color: #fcfcfc; /* Lighter gray for definition panes */
    padding-left: 0.5vw; /* Add padding */
    padding-right: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vh;/* Add space to next pane */
    margin-bottom: 1vh;
    border-color: #777;
    border-style: dashed;
    border-inline-width: 0.5vw;
    border-block-width:  0.5vh;
    border-radius: 0.5vw; /* Add subtle rounded corners */
    text-align: center;
}
/*left pane stuff*/
#leftPane {
    border-right: 0.4vw solid #ccc; /* Add border to separate panes */
}

#dropZone { /* Target all child divs within leftPane  - definition panes aka button groups*/
    background-color: #fcfcfc; /* Lighter gray for definition panes */
    padding-left: 0.5vw; /* Add padding */
    padding-right: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vh;/* Add space to next pane */
    margin-bottom: 1vh;
    border-radius: 0.3vw; /* Add subtle rounded corners */
}
/*right pane stuff*/
#rightPane {
    border-left: 0.4vw solid #ccc; /* Add border to separate panes */
}

/* Center Pane*/
#centerPane {
    flex: 4; /* Allocate more space for center pane */
    padding: 0px; /* Add padding */
    /* display: block; Make center pane a flex container for centering */
    max-width: 98vh;
    align-items: center; /* Center content vertically */
    align-content: center;
    background-color: #e0e0e0; /* Set light gray background for center pane */
}
#centerSquarePane {/*the flex grow keeps it from being 0 by 0, the aspect ratio keeps it a square while it is shorter than the screen height, and once it reaches the screen height, they both have limits so it doesn't exceed the screen height and it doesn't keep getting wider without getting taller.*/
    width: 100%;
    aspect-ratio: 1;
    background-color: #ffffff; /* Set background color */
}

/*output boxes*/
output {
    display: block; /* Make the output element a block-level element */
    padding-inline: 0.5vw; /* Add padding for spacing */
    padding-block: 0.5vh;
    margin-inline: 0.125vw; /* Add margine for spacing */
    margin-block: 0.125vh;
    border-block: 0.1vh solid #ddd; /* Add a solid border */
    border-inline: 0.1vw solid #ddd; /* Add a solid border */
    border-radius: 3%; /* Add rounded corners */
    background-color: #f8f8f8; /* Set a light gray background color */
    color: #222; /* Set dark gray text color */
    font-family: Mono; /* Set a basic, info, font */
}
